<%- layout("layouts/mainLayout.ejs") %>

    <section class="services my-4 container p-0">
        <div class="container" data-aos="fade-up">
            <h2 class="h1 text-center py-4">Login</h2>
            <form action="/login" method="post" class="needs-validation" novalidate autocomplete="off">
                <div class="row">
                    <div class="form-floating mb-3 col-md-6 col-12">
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="Enter username" required minlength="3">
                        <label for="username">&nbsp; Username</label>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-12">
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Enter password" required>
                        <label for="password">&nbsp; Password</label>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>
        </div>

    </section>