<%- layout("layouts/mainLayout.ejs") %>

    <!-- ======= Header ======= -->

    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>Triveni Dham <span>Gaushala</span></h1>
                    <h2>
                        <h2 class="mt-3">
                            <span style="color: #FFDEAD;">यया सर्वमिदं व्याप्तं जगत् स्थावरजङ्गमम्।</span> <br>
                            <span style="color: #FFDEAD;">तां धेनुं शिरसा वन्दे भूतभव्यस्य मातरम्॥</span> <br>
                            <span style="font-size: 1.1rem;" class="mt-2">जिसने समस्त चराचर जगत् को व्याप्त कर रखा
                                है,</span>
                            <br>
                            <span style="font-size: 1.1rem ;">उस भूत और भविष्य की जननी गौ माता को मैं मस्तक झुका कर
                                प्रणाम करता
                                हूं॥</span>
                        </h2>
                    </h2>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="Lord krishna with calf image">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                        data-aos-delay="100">
                        <h3>About Triveni Dham Gaushala</h3>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Since 2010-11, Triveni Dham Gaushala has been
                                operating.</li>
                            <li><i class="ri-check-double-line"></i> More than a hundred cows and other cattle have been
                                saved from
                                the nearby area.</li>
                            <li><i class="ri-check-double-line"></i> Taking care of and feeding cows and other cattle on
                                a regular
                                basis.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Usefulness Section ======= -->
        <section id="usefulness" class="services">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <!-- <i class="fas fa-hand-holding-usd"></i> -->
                            <div class="icon"><i class="fa fa-hand-holding-usd"></i></div>
                            <h4><a href="#usefulness">Gaushala Contribution in Economy</a></h4>


                            <div class="row">

                                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                                    data-aos-delay="100">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bi bi-check2-circle"></i></div>
                                        <h4><a href="#">Milk Production</a></h4>
                                        <p>Milk is the largest crop in India in terms of value; it’s valued at around Rs
                                            6.5 lakh crore, which is more than the total value of paddy and wheat put
                                            together. It is
                                            contributing around 26% to total agriculture GDP.</p>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                                    data-aos-delay="100">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bi bi-check2-circle"></i></div>
                                        <h4><a href="#">Biogas and Bio-fertilizer Plant</a></h4>
                                        <p>The promotion of organic farming and the availability of bio-fertilizers and
                                            bio-pesticides in
                                            bulk at an affordable price. Cow dung is used to generate electricity. Clean
                                            energy is one of
                                            our
                                            goals. </p>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                                    data-aos-delay="100">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bi bi-check2-circle"></i></div>
                                        <h4><a href="#">Ayurvedic Pharmacy</a></h4>
                                        <p>According to Ayurveda's, Gomutra (cow urine) can cure leprosy, fevers, peptic
                                            ulcers, liver
                                            ailments, kidney disorders, asthma, certain allergies, psoriasis, anaemia
                                            and even cancer. One
                                            of
                                            India's largest Ayurvedic companies, Patanjali Ayurved, sells urine-based
                                            products.
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Usefulness Section -->


        <!-- ======= Certificate Section ======= -->
        <section id="certificate" class="services">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <!-- <i class="fas fa-hand-holding-usd"></i> -->
                            <div class="icon"><i class="fa fa-certificate"></i></div>
                            <h4 class=""><a href="#">Certificates</a></h4>


                            <div class="row">

                                <div class="col" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="icon-box pt-4">
                                        <div class="icon"><i class="bi bi-check2-circle"></i></div>
                                        <h4><a href="/include/gaushalaPDFs/Samiti panjikaran.pdf" class="primary">Samiti
                                                Panjikaran</a></h4>
                                        <iframe src="/include/gaushalaPDFs/Samiti panjikaran.pdf" frameborder="0"
                                            style="max-width: 100%; width: 80%; height: 400px; "></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="icon-box pt-4">
                                        <div class="icon"><i class="bi bi-check2-circle"></i></div>
                                        <h4><a
                                                href="/include/gaushalaPDFs/Revised Certificate of Registration of Society.pdf">Revised
                                                Certificate of Registration of Society</a></h4>
                                        <iframe
                                            src="/include/gaushalaPDFs/Revised Certificate of Registration of Society_compressed.pdf"
                                            frameborder="0"
                                            style="max-width: 100%; width: 80%; height: 400px; "></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="icon-box pt-4">
                                        <div class="icon"><i class="bi bi-check2-circle"></i></div>
                                        <h4><a href="/include/gaushalaPDFs/Gauseva aayog.pdf">Gauseva Aayog</a></h4>
                                        <iframe src="/include/gaushalaPDFs/Gauseva aayog.pdf" frameborder="0"
                                            style="max-width: 100%; width: 80%; height: 400px; "></iframe>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>

            </div>
        </section>
        <!-- End Certificate Section -->

        <!-- ======= Donation Section ======= -->
        <section id="donation" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Donation</h2>
                    <p>Donation Details</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col offset-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="card">
                            <img src="/assets/img/gau mata.jpg" class="card-img-top" alt="Gau mata image">
                            <div class="card-body">
                                <h5 class="card-title text-center">Bank Details</h5>
                                <p class="card-text"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Name : </span> <span>Triveni Dham Goshala Samiti</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between"><span>Account No. : </span>
                                    <span>785221
                                        00000109</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between"><span>IFSC Code : </span>
                                    <span>PUNBOHGB001</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- End Donation Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Our Gaushala</h2>
                    <p>Check our Images</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">Front</li>
                            <li data-filter=".filter-card">Ground</li>
                            <li data-filter=".filter-web">Inner Portion</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/1. front.jpg" class="img-fluid" alt="Gaushala front">
                            <div class="portfolio-info">
                                <h4>Front Gate</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/1. front.jpg" data-gallery="portfolioGallery"
                                        class="portfolio-lightbox" title="Front Gate"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/2. front closeup.jpg" class="img-fluid"
                                alt="Gaushala front close up">
                            <div class="portfolio-info">
                                <h4>Front Gate closeup</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/2. front closeup.jpg"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox"
                                        title="Front Gate closeup photo"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/3. site.jpg" class="img-fluid" alt="Gaushala Ground">
                            <div class="portfolio-info">
                                <h4> Gaushala Ground</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/3. site.jpg" data-gallery="portfolioGallery"
                                        class="portfolio-lightbox" title=" Gaushala Ground"><i
                                            class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/11. radha.jpg" class="img-fluid" alt="Cow named Radha">
                            <div class="portfolio-info">
                                <h4>Cow named "Radha"</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/11. radha.jpg" data-gallery="portfolioGallery"
                                        class="portfolio-lightbox" title='Cow named "Radha"'><i
                                            class="bx bx-plus"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/4. cow site.jpg" class="img-fluid" alt="Cows">
                            <div class="portfolio-info">
                                <h4>Cows</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/4. cow site.jpg" data-gallery="portfolioGallery"
                                        class="portfolio-lightbox" title="Cows"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/5. cow site 2.jpg" class="img-fluid" alt="Cows">
                            <div class="portfolio-info">
                                <h4> Gaushala Ground</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/5. cow site 2.jpg"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox"
                                        title=" Gaushala Ground"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/6. cow ground.jpg" class="img-fluid"
                                alt="Gaushala ground">
                            <div class="portfolio-info">
                                <h4> Gaushala Ground 2</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/6. cow ground.jpg"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox"
                                        title=" Gaushala Ground 2"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/7. temple.jpg" class="img-fluid"
                                alt="Triveni Dham Temple">
                            <div class="portfolio-info">
                                <h4>Temple</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/7. temple.jpg" data-gallery="portfolioGallery"
                                        class="portfolio-lightbox" title="Temple"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/9. inner ground.jpg" class="img-fluid" alt="Ground">
                            <div class="portfolio-info">
                                <h4>Inner Ground</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/9. inner ground.jpg"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox"
                                        title="Inner Ground"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/8. calf.jpg" class="img-fluid" alt="Calf">
                            <div class="portfolio-info">
                                <h4>Calf</h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/8. calf.jpg" data-gallery="portfolioGallery"
                                        class="portfolio-lightbox" title="Calf"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="assets/img/gaushala_images/10. feed.jpg" class="img-fluid" alt="Cow feeding">
                            <div class="portfolio-info">
                                <h4></h4>
                                <div class="portfolio-links">
                                    <a href="assets/img/gaushala_images/10. feed.jpg" data-gallery="portfolioGallery"
                                        class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section><!-- End Portfolio Section -->


        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Members</h2>
                    <p>Check our Members</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="assets/img/members/Rajesh Pradhan (Gaushala).jpeg" class="img-fluid"
                                    alt="Rajesh Pradhan">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Rajesh Pradhan</h4>
                                <span>President</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="assets/img/members/Sunil Kumar (Sachiv).jpeg" class="img-fluid"
                                    alt="Sunil Kumar">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Sunil Kumar</h4>
                                <span>Secretary</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="assets/img/members/Narbir Singh (Upadyaksha).jpeg" class="img-fluid"
                                    alt="Narbir Singh">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Narbir Singh</h4>
                                <span>Vice President</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="assets/img/members/Mahender Singh(Koshadyaksh).jpeg" class="img-fluid"
                                    alt="Mahender Singh">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mahender Singh</h4>
                                <span>Financial Officer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="assets/img/members/Satish Ji (Samiti Sadasya).jpeg" class="img-fluid"
                                    alt="Satish Ji">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Satish Ji</h4>
                                <span>Committee Member</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="assets/img/members/Shiv Kumar (Sadasya Samiti).jpeg" class="img-fluid"
                                    alt="Shiv Kumar">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Shiv Kumar</h4>
                                <span>Committee Member</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="assets/img/members/Yogender Sehrawat (Samiti Sadasya).jpeg" class="img-fluid"
                                    alt="Yogender Sehrawat">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Yogender Sehrawat</h4>
                                <span>Committee Member</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="assets/img/members/Yogender (Samiti Sadasya).jpeg" class="img-fluid"
                                    alt="Yogender">
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Yogender</h4>
                                <span>Committee Member</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div>
                    <iframe style="border:0; width: 100%; height: 270px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9334.530813335308!2d77.27653770603743!3d28.02951545123341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39732b825aedfbe9%3A0xb1d1695e085d18e5!2sTriveni%20Dham%20Gosala%20Gehlab!5e0!3m2!1sen!2sin!4v1662435885942!5m2!1sen!2sin"
                        frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Triveni Dham Gaushala, Kondal Road, <br>
                                    Gehlab,
                                    Palwal, Haryana (121103)</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>trivenidhamgaushala@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+91 90508 47250</p>
                                <p>+91 94667 77171</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">



                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>