<%- layout("layouts/mainLayout.ejs") %>

    <section class="services my-4 container p-0">
        <div class="container" data-aos="fade-up">
            <h2 class="h1 text-center py-4">Donation</h2>
            <form action="/dates/<%= id %>/accounts" method="post" class="needs-validation" novalidate
                autocomplete="off">
                <div class="row">

                    <div class="form-floating mb-3 col-md-5">
                        <input type="text" class="form-control" name="title" id="floatingInput"
                            placeholder="Enter title" required minlength="3">
                        <label for="floatingInput">&nbsp; Title</label>
                    </div>

                    <div class="form-floating mb-3 col-md-7">
                        <input type="text" class="form-control" name="description" id="floatingInput"
                            placeholder="Add some description" required>
                        <label for="floatingInput">&nbsp; Description</label>
                    </div>
                    <div class="form-floating col-md-4 mb-3">
                        <input type="number" class="form-control" name="donation" id="donation" placeholder="Donation"
                            required min="0">
                        <label for="donation">&nbsp; Donation</label>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-success">Submit</button>
                    </div>

                </div>
            </form>
        </div>

    </section>